body {
	color: lightpink;
	background-color: green ;
	font-family: arial;
}

p {
	text-align: left;}
h1 {text-align: center;
	color: darkred;
	font-family: unset;
}
.first{text-align: left;}
h2 {color: yellow;

}
.ittalic-text {
	font-style: italic;
}